
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Liste des fiches</h1>
        <p class="lead">Consulter la liste des fiches</p>
    </div>
</div>

<table class="table table-striped">
    <thead class="">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Client associé</th>
            <th scope="col">Créateur</th>
            <th scope="col">Etat de la fiche</th>
            <th scope="col">Priorité</th>
            <th scope="col">Date de Création</th>

            <th scope="col">Date de Cloture</th>

            <th scope="col">Prix HT </th>
            <th scope="col">description </th>


        </tr>
    </thead>
    <tr *ngFor="let fiche of fichelist">

    <!-- <tbody *ngIf="FactureDev.length > 0; else elseBlock"> -->
      <!-- Faire en sorte qu'il y ait autant de ligne que de tâche -->
      <th scope="row">   {{fiche.id}}<!-- Afficher ici l'id de la tâche --></th>
            <th scope="row">   {{fiche.client.nom}}<!-- Afficher ici l'id de la tâche --></th>
            <td>
            {{fiche.user.name}}

                <!-- Afficher ici le label de la tâche --></td>
            <td>
                {{fiche.etatfiche}}

                <!-- Gérer l'événement clic sur ce bouton afin de rediriger vers l'édition -->
                <!-- Gérer l'événement clic sur ce bouton afin de supprimer la tâche -->
            </td>
            <td>
                {{fiche.priorite.libelle}}

                    <!-- Afficher ici le label de la tâche --></td>
                    <td>
                        {{fiche.datecreation | date:'dd/MM/yyyy'}}

                            <!-- Afficher ici le label de la tâche --></td>
                            <td>
                                {{fiche.datecloture | date:'dd/MM/yyyy'}}

                                    <!-- Afficher ici le label de la tâche --></td>
                                    <td>
                                        {{fiche.prixht}}

                                            <!-- Afficher ici le label de la tâche --></td>
                                            <td>
                                                {{fiche.description}}

                                                    <!-- Afficher ici le label de la tâche --></td>

                    <td>
                        <!-- Gérer l'événement clic sur ce bouton afin de rediriger vers l'édition -->

                    </td>
   <!--</tbody>-->
    </tr>
    <ng-template #elseBlock>
        <tbody>
            <tr>
                <td colspan="3" class="text-center">Aucune tâche pour le moment...</td>
            </tr>
        </tbody>
    </ng-template>
</table>
