<ul class="nav bg-info d-flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link alert-link"  (click)="showCmdPiece()">Commande Piece</a>
    </li>
    <li class="nav-item">
      <a class="nav-link alert-link" (click)="showFiches()">Fiches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link alert-link" (click)="showPieces()">Pièces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link alert-link" (click)="showTaches()">Taches</a>
      </li>
  </ul>