<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-4"> Modification de la date de cloture de la commande du véhicule</h4>
    </div>
</div>

<div class="container">
    <form #commandeVehiculeForm="ngForm" (ngSubmit)="editCVehicule()">
        <input type="hidden" name="idInput" id="idInput" [(ngModel)]="commandeVehicule.id"> 
        
        <div class="form-group">
            <label for="labelInput">DateCloture</label>
            <input type="date" class="form-control" name="labelInput" id="labelInput"
                placeholder="yyyy-MM-dd" required #dateInput="ngModel" [ngModel]="commandeVehicule.datecloture | date:'yyyy-MM-dd'" (ngModelChange)="commandeVehicule.datecloture = $event"> 
        </div>
        <div *ngIf="!dateInput.valid && dateInput.touched && dateInput.errors.required" class="alert alert-danger">Le champs date de saisie est obligatoire </div>
        <div *ngIf="!dateInput.valid && dateInput.touched && dateInput.errors.pattern" class="alert alert-danger">Le champs date de saisie doit être au format YYYY-MM-DD</div>
        <button  type="submit" class="btn btn-primary"
             [disabled]="commandeVehiculeForm.invalid">Modifier</button> 
    </form>
</div>
