<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  
  <div th:fragment="footer"  >
     <!--<div class="footer">
       	<a class="btn btn-info" th:href="@{/}" 
       		th:text="'Menu du gestionaire de garage'"></a>
    </div> -->
 </div>
 

 
 	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    
 </body>

