<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
          
            <a	class="navbar-brand" th:href="@{/afficherCreerClient}" 
            th:text="'Gestion des Clients'"></a>
            
            <a class="navbar-brand" th:href="@{/afficherCreerVehicule}" 
            th:text="'Gestion des Vehicule'"></a>
 			
 			<a class="navbar-brand" th:href="@{/afficherCreerUser}" 
            th:text="'Gestion des Users'"></a>
            
            <a class="navbar-brand" th:href="@{/afficherCreerPiece}" 
            th:text="'Gestion des Pieces'"></a>
 
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
              
              <a	class="navbar-brand" th:href="@{/afficherCreerClient}" 
            th:text="'Gestion des Clients'"></a></li>
            <li class="active">
            
            <a	class="navbar-brand" th:href="@{/afficherCreerUser}" 
            th:text="'Gestion des Users'"></a></li>
            <li class="active">
            
             <a	class="navbar-brand" th:href="@{/afficherCreerPiece}" 
            th:text="'Gestion des Piece'"></a></li>
            <li class="active">
            

            </ul>
          </div>
        </div>
      </div>
       
 </div>
 </body>

 
