<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
 
    <head th:fragment="load">
      <title th:text="'Gestionnaire garage'"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" 
		          th:href="@{/css/bootstrap.min.css}" />
		          
		<link rel="stylesheet" type="text/css" 
		          th:href="@{/css/styles.css}" />
		          
		<link rel="stylesheet" type="text/css"
				  th:href="@{/css/menu.css}">
				  
		<link rel="icon" type="image/png" th:href="@{/img/marquage-pneu.jpg}">
		
		<link rel="stylesheet" type="text/css" 
				  th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
		
		<link rel="stylesheet" type="text/css"
				  th:href="@{https://fonts.googleapis.com/css?family=Courier+Prime&display=swap}">
	 </head>   
