<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="menu-wrap" th:fragment="header">
		<input type="checkbox" class="toggler">
		<div class="hamburger">
			<div></div>
		</div>
		<div class="menu">
			<div>
				<div>
					<ul>

						<li><a  th:href="@{/}"> Home </a></li>
						
						<li><a  th:href="@{/entretien}"> Entretien </a></li>
						
						<li><a  th:href="@{/vente}"> Vente </a></li>
						
						<li><a  th:href="@{/stock}"> Stock </a></li>
						
						<li><a  th:href="@{/admin}"> Admin </a></li>

					</ul>
				</div>
			</div>
		</div>

	</div>


	
	
	


</body>




						<!-- <li><a class="navbar-brand" 
							th:href="@{/afficherCreerClient}"
							th:text="'Gestion des Clients'"></a></li>

						<li><a class="navbar-brand"
							th:href="@{/afficherCreerVehicule}"
							th:text="'Gestion des Vehicule'"></a></li>

						<li><a class="navbar-brand" th:href="@{/afficherCreerUser}"
							th:text="'Gestion des Users'"></a></li>

						<li><a class="navbar-brand" th:href="@{/afficherCreerPiece}"
							th:text="'Gestion des Pieces'"></a></li>

						<li><a class="navbar-brand" th:href="@{/afficherCreerFiche}"
							th:text="'Gestion des Fiches'"></a></li>

						<li><a class="navbar-brand" th:href="@{/afficherCreerDevis}"
							th:text="'Gestion des Devis'"></a></li>

						<li><a class="navbar-brand"
							th:href="@{/afficherCreerCommandePiece}"
							th:text="'Gestion des Commandes de pièces'"></a></li>

						<li><a class="navbar-brand" th:href="@{/afficherCreerTache}"
							th:text="'Gestion des Tâches'"></a></li>
 -->