<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<title th:text="'Gestion De Mon Ecole'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div th:replace="fragments/headerstock :: headerstock"></div>

	<div class="showcase1">
  		<div id="cookies">
  		<h1> Commande de pièces </h1>
  		</div>
      <div class="container showcase-inner">
      
		<table class="table table-sm table-light" border="1" th:unless="${action == 'ModifierUser'}">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Quantite</th>
					<th>Date de création</th>
					<th>Date de cloture</th>
					<th>User</th>
					<th>Piece</th>
					<th></th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="commande : ${listecommandepiece}">
					<td><a class="btn btn-outline-secondary"
						th:href="@{/afficherModifierCommandePiece/{id}(id=${commande.id})}"
						th:text="${commande.id}"></a></td>
					<td th:text="${commande.quantite}" />
					<td th:text="${commande.date_creation}" />
					<td th:text="${commande.date_cloture}" />
					<td th:text="${commande.user.nom}" />
					<td th:text="${commande.piece.libelle}" />
				<td><a class="btn btn-outline-secondary"
				th:href="@{/DesactiverCommandePiece/{id}(id=${commande.id})}"
					th:text="'Desactiver'"></a></td>
				</tr>
			</tbody>
		</table>
		
		<div id="cookies">
		<h2 th:if="${action == 'ModifierCommandePiece'}">
			 <a	th:href="@{/afficherCreerCommandePiece}" th:text="'Formulaire de Modification'"></a>
			 </h2>
			 <h2 th:unless="${action == 'ModifierCommandePiece'}">Formulaire d'Ajout</h2>
 			<p> Veuillez renseigner tous les champs suivant s'il vous plait </p>
		
		
		</div>
		
		<br/><br/>
 	<div class="form">
	  <form action="#" th:action="@{/{action}(action=${action})}" 
	  th:object="${commandepieceform}"   method="post">
	  		<input type="hidden" th:field="*{id}" th:value="*{id}" class="form-control"/>
	    	
	    	<div class="form-group">
	    	<label for="quantite">Quantité</label>
	   		<input type="text" th:field="*{quantite}" id="quantite" placeholder="Quantité"
	   		class="form-control"/>
	   		</div>
	   		
	   		<div class="form-group">
	   		<label for="date_creation">Date de création</label>
	   		<input type="date" th:field="*{date_creation}" id="date_creation" 
	   		placeholder="Date de création" class="form-control"/>
	   		</div>
	   		
	   		<div class="form-group">
	   		<label for="date_cloture">Date de cloture</label>
	   		<input type="date" th:field="*{date_cloture}" id="date_cloture" 
	   		placeholder="Date de cloture" class="form-control"/>
	   		</div>
	   		
	   		<div class="form-group">
	   		<label for="user">Utilisateur</label>
	   		<select th:field="*{user}" class="form-control">
			    <option th:each="puser :${listeuser}" 
			    	th:value="${puser.id}" th:utext="${puser.nom}"/>
			</select>
			</div>
			
			
			<div class="form-group">
			<label for="piece">Pièce</label>
			<select th:field="*{piece}" class="form-control">
			    <option th:each="ppiece :${listepiece}" 
			    	th:value="${ppiece.id}" th:utext="${ppiece.libelle}"/>
			</select>
			</div>
			<br/>
	   	
	   <button  type="submit" class="form-control">Valider</button>
	</form>
 </div>


		<div th:replace="fragments/footer :: footer"></div>
	</div>
	</div>
</body>
</html>