<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/headerload :: load">
  	<title th:text="'Gestion des devis'"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/headervente :: headervente"></div>
 
    <div class="showcase1">
  		<div id="cookies">
  		<h1> Gestion des devis </h1>
  		</div>
      <div class="container showcase-inner">
      
		<table class="table table-sm table-light" border="1" th:unless="${action == 'ModifierDevis'}">
	 <thead class="thead-dark">
	 	<tr>
	 	<th>Id</th>
	 	<th>Client</th>
	 	<th>Vehicule</th>
	 
	 	<th>Utilisateur</th>
	 	<th>Date de création</th>
	 	<th>Etat du devis</th>
	 	<th>Désactiver</th>
	 	
	 	</tr>
	 </thead>
	 <tbody>
	 	<tr th:each="devis : ${listedevis}">
	 		<td >
	 		<a	class="btn btn-outline-secondary"
	 		th:href="@{/afficherModifierDevis/{id}(id=${devis.id})}" th:text="${devis.id}"></a></td>
	 		<td th:text="${devis.client.name}"/>
	 		<td th:text="${devis.vehicule.modele}"/>
	 		 		<td th:text="${devis.user.nom}"/>
	 	 	<td th:text="${devis.datecreation}"/> 
	 		<td th:text="${devis.etatdevis} ? 'Accepté' : 'Refusé'"/>
	 		
	 		<td>
	 		<a class="btn btn-outline-secondary"
	 		th:href="@{/DesactiverDevis/{id}(id=${devis.id})}" th:text="'Desactiver'"></a></td>
	 	</tr>
	 </tbody>
 </table>
 		<div id="cookies">
			 <h2 th:if="${action == 'ModifierDevis'}">
			 <a	th:href="@{/afficherCreerDevis}" th:text="'Formulaire de Mofication'"></a>
			 </h2>
			 <h2 th:unless="${action == 'ModifierDevis'}">Formulaire d'Ajout</h2>
			 <p> Veuillez renseigner tous les champs suivant s'il vous plait </p>
		
		
		<br/><br/>
 <div class="form">
	  <form action="#" th:action="@{/{action}(action=${action})}" 
	  th:object="${devisform}"   method="post">
	  		<input type="hidden" th:field="*{id}" th:value="*{id}"/>

				<div class="form-group">
				<label for="client">Client</label> <select th:field="*{client}" class="form-control">
					<option th:each="pclient :${listeclient}" th:value="${pclient.id}"
						th:utext="${pclient.name}" />
						</select>
					</div>
						
					<div class="form-group">	
					<label for="vehicule">Vehicule</label> <select th:field="*{vehicule}" class="form-control">
					<option th:each="pvehicule :${listevehicule}" th:value="${pvehicule.id}"
						th:utext="${pvehicule.modele}" />
						</select>
					</div>
						
						<div class="form-group">
						<label for="user">User</label> 
						<select th:field="*{user}" class="form-control">
					<option th:each="puser :${listeuser}" th:value="${puser.id}"
						th:utext="${puser.nom}"  />
							</select>
					</div>
							
					<div class="form-group">		
					<label for="date">Date de creation</label>
 						<input type="date" th:field="*{datecreation}" id="datecreation" placeholder="aaaa-mm-jj" class="form-control" />
 						<label class="btn btn-danger" th:if="${#fields.hasErrors('datecreation')}" th:errors="*{datecreation}"></label>
					</div>		  
								
							<label for="regle">Etat</label>
								<SELECT name="regle" th:field="*{etatdevis}" id="etatdevis" class="form-control">
									<OPTION value="true">Accepté
									<OPTION value="false">Refusé		
							</SELECT>
	   
	   	<br/> 
	   <button  type="submit" class="form-control" >Valider</button>
	</form>
	</div>
 </div>
 <div th:replace="fragments/footer :: footer"></div>
    </div>
    </div>
    </body>
</html>