<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
  	<title th:text="'Gestion De Mon Ecole'"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
  </head>
  <body>
 	<div th:replace="fragments/header :: header"></div>
 
 
    <div class="container">
     <header class="showcase">
     
     <div class="container showcase-inner">
      
      <h1> GESTIONNAIRE GARAGE  </h1>

      <p> Bienvenue dans le gestionnaire du garage de AlloVoiture. </p>
      
            
      </div>
  </header> 
 
      <div th:replace="fragments/footer :: footer"></div>
    </div>
    </body>
</html>