<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
  	<title th:text="'Gestionnaire de garage'"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
  </head>
  <body>
 	<div th:replace="fragments/header :: header"></div>
 
 <header class="headerhome">
		<div class="navbar navbar-expand-lg navbar-light bg center">
				  <a class="navbar-brand" href="home.html" th:href="@{/entretien}">Menu Entretien</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" 
				  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
				  aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav">
				      
				      <li class="nav-item">
				        <a class="nav-link" th:href="@{/afficherCreerClient}">Clientèle</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
				        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Garage
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" th:href="@{/afficherCreerFiche}">Fiche</a>
				          <a class="dropdown-item" th:href="@{/afficherCreerTache}">Tache</a>
				        </div>
				      </li>
				    </ul>
				  </div>
		</div>

	</header>
 
    <div class="container">
     <header class="showcase">
     
     <div class="container showcase-inner">
      
      <h1> GESTIONNAIRE ENTRETIEN  </h1>     
            
      </div>
  </header> 
 
      <div th:replace="fragments/footer :: footer"></div>
    </div>
    </body>
</html>