<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<title th:text="'Gestion Des Taches'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div th:replace="fragments/headerentretien :: headerentretien"></div>

	<div class="showcase1">
  		<div id="cookies">
  		<h1> Gestion de tâches </h1>
  		</div>
      <div class="container showcase-inner">
      
		<table class="table table-sm table-light" border="1" th:unless="${action == 'ModifierTache'}">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Commentaire</th>
					<th>User</th>
					<th>Fiche</th>
					<th>Priorite</th>
					<th>Piece</th>
					<th>Quantité</th>
					<th>Etat tâche</th>
					<th>Desactiver</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tache : ${listetache}">
					<td><a class="btn btn-outline-secondary"
						th:href="@{/afficherModifierTache/{id}(id=${tache.id})}"
						th:text="${tache.id}"></a></td>
					<td th:text="${tache.commentaire}" />
					<td th:text="${tache.user.nom}" />
					<td th:text="${tache.fiche.id}" />
					<td th:text="${tache.priorite.libelle}" />
					<td th:text="${tache.piece.libelle}" />
					<td th:text="${tache.qte}" />
					<td th:text="${tache.etattache}" />
					<td><a class="btn btn-outline-secondary"
					 th:href="@{/DesactiverTache/{id}(id=${tache.id})}"
						th:text="'Desactiver'"></a></td>
				</tr>
			</tbody>
		</table>

		<div id="cookies">
		<h2 th:if="${action == 'ModifierTache'}">
			<a th:href="@{/afficherCreerTache}"
				th:text="'Formulaire de Modification'"></a>
		</h2>
		<h2 th:unless="${action == 'ModifierTache'}">Formulaire d'Ajout</h2>
		<br/>
				 
		<p> Veuillez renseigner tout les champs suivant s'il vous plait </p>
		
		</div> 
		<br/><br/>
		<div class="form">
			<form action="#" th:action="@{/{action}(action=${action})}"
				th:object="${tacheform}" method="post">
				
				<input type="hidden" th:field="*{id}" th:value="*{id}" />
				
				<div class="form-group">
				<label for="commentaire">Commentaire</label> <input type="text"
					th:field="*{commentaire}" id="commentaire" placeholder="commentaire" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('commentaire')}" th:errors="*{commentaire}"></label>
				</div>
					
				<div class="form-group">
					 <label for="user">Utilisateur</label>
					<select th:field="*{user}" required class="form-control">
					<option th:each="puser :${listeuser}" th:value="${puser.id}"
						th:utext="${puser.nom}" />
					</select>
				</div>
				
				<div class="form-group">
				 	<label for="fiche">Fiche</label> <select th:field="*{fiche}" 
				 	required class="form-control">
					<option th:each="fiche :${listefiches}" th:value="${fiche.id}"
						th:utext="${fiche.id}" />
					</select> 
				</div>
				
				<div class="form-group">
					<label for="priorite">Priorite</label> 
					<select th:field="*{priorite}" required class="form-control">
					<option th:each="ppriorite :${listepriorite}"
						th:value="${ppriorite.id}" th:utext="${ppriorite.libelle}" 
						/>
					</select> 
				</div>
				
				<div class="form-group">
					<label for="piece">Piece</label>
				 	<select th:field="*{piece}" required class="form-control">
					<option th:each="ppiece :${listepiece}" th:value="${ppiece.id}"
						th:utext="${ppiece.libelle}" />
					</select> 
				</div>
				
				<div class="form-group">
					<label for="etattache">Etattache</label>
				 	<select th:field="*{etattache}" required class="form-control">

					<option th:value="true">Vrai</option>
					<option th:value="false">Faux</option>
					</select> 
				</div>

						<div class="form-group">
				<label for="qte">Quantite</label> <input type="text"
					th:field="*{qte}" id="qte" placeholder="qte" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('qte')}" th:errors="*{qte}"></label>
				</div>
				
				<input type="hidden" th:field="*{desactiver}" id="desactiver"
					placeholder="desactiver" class="form-control"/>


				<button type="submit">Valider</button>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
  </div>
</body>
</html>