<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/headerload :: load">
  	<title th:text="'Gestion des vehicules'"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/headervente :: headervente"></div>
 
    <div class="showcase1">
  		<div id="cookies">
  		<h1> Vente de véhicules </h1>
  		</div>
      <div class="container showcase-inner">
      
		<table class="table table-sm table-light" border="1" th:unless="${action == 'ModifierVehicule'}">
	 <thead class="thead-dark">
	 	<tr>
	 	<th>Id</th>
	 	<th>Modele</th>
	 	<th>Marque</th>
	 
	 	<th>Quantite</th>
	 	<th>Prix HT</th>
	 	<th>Date de création</th>
	 	<th>Désactiver</th>
	 	</tr>
	 </thead>
	 <tbody>
	 	<tr th:each="vehicule : ${listevehicule}">
	 		<td >
	 		<a	class="btn btn-outline-secondary"
	 		th:href="@{/afficherModifierVehicule/{id}(id=${vehicule.id})}" th:text="${vehicule.id}"></a></td>
	 		<td th:text="${vehicule.modele}"/>
	 		<td th:text="${vehicule.marque}"/>
	 	
	 		<td th:text="${vehicule.quantite}"/>
	 		<td th:text="${vehicule.prixht}"/>
	 		<td th:text="${vehicule.datecreation}"/>
	 		
	 		<td >
	 		<a class="btn btn-outline-secondary"
	 		th:href="@{/DesactiverVehicule/{id}(id=${vehicule.id})}" th:text="'Desactiver'"></a></td>
	 	</tr>
	 </tbody>
 </table>
 
 		<div id="cookies">
			 <h2 th:if="${action == 'ModifierVehicule'}">
			 <a	th:href="@{/afficherCreerVehicule}" th:text="'Formulaire de Mofication'"></a>
			 </h2>
			 <h2 th:unless="${action == 'ModifierVehicule'}">Formulaire d'Ajout</h2>
			 <p> Veuillez renseigner tout les champs suivant s'il vous plait </p>
		</div>
		
		

 	<div class="form">
	  <form action="#" th:action="@{/{action}(action=${action})}" 
	  th:object="${vehiculeform}"   method="post">
	  
	  		<input type="hidden" th:field="*{id}" th:value="*{id}"/>
	  		
	  		<!-- <div class="form-group">
				<label for="modele">Modele</label> <input type="text"
					th:field="*{modele}" id="modele" placeholder="Modele" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('modele')}" th:errors="*{modele}"></label>
				</div> -->
	  		<div class="form-group">
				<label for="modele">Modele</label> <input type="text"
					th:field="*{modele}" id="modele" placeholder="modele" class="form-control"/> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('modele')}" th:errors="*{modele}"></label>
				</div>
	  		<!-- <div class="form-group">
		    	<label for="modele">Modele</label>
		   		<input type="text" th:field="*{modele}" id="modele" placeholder="modele" class="form-control"/>
	   		</div>
	   		 -->
	   		 
	   		 <div class="form-group">
				<label for="marque">Marque</label> <input type="text"
					th:field="*{marque}" id="marque" placeholder="Marque" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('marque')}" th:errors="*{marque}"></label>
				</div>
	   		 
	   		 
	   		<!-- <div class="form-group">
	   			<label for="modele">Marque</label>
	   			<input type="text" th:field="*{marque}" id="marque" placeholder="marque" class="form-control"/>
	   		</div> -->
	   		
	   		
	   		<div class="form-group">
				<label for="quantite">quantite</label> <input type="text"
					th:field="*{quantite}" id="quantite" placeholder="Quantite" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('quantite')}" th:errors="*{quantite}"></label>
				</div>
	   		
	   		
	   		
	   		<!-- <div class="form-group">
	   		<label for="quantite">Quantité</label>
	   		<input type="text" th:field="*{quantite}" id="quantite" 
	   		placeholder="quantite" class="form-control"/>
	   		</div> -->
	   		
	   		
	   			<div class="form-group">
				<label for="datecreation">Date de creation</label> <input type="date"
					th:field="*{datecreation}" id="datecreation" placeholder="date de creation" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('datecreation')}" th:errors="*{datecreation}"></label>
				</div>
	   		<!-- <div class="form-group">
	   		<label for="datecreation">Date de Création</label>
	   		<input type="date" th:field="*{datecreation}" id="datecreation" 
	   		placeholder="Date de création" class="form-control"/>
	   		</div> -->
	   		
	   		
	   		<div class="form-group">
				<label for="prixht">PrixHT</label> <input type="text"
					th:field="*{prixht}" id="prixht" placeholder="Prix hors taxes" class="form-control"  /> <label class="btn btn-danger"
					th:if="${#fields.hasErrors('prixht')}" th:errors="*{prixht}"></label>
				</div>
	   		
	   		
	   		<!-- <div class="form-group">
	   		<label for="prixht">prix HT</label>
	   		<input type="text" th:field="*{prixht}" id="prixht" 
	   		placeholder="Prix Hors Taxe" class="form-control"/>
	   		</div>	 -->
	   		
	   		<br/>
	   		
	   <button  type="submit" class="form-control">Valider</button>
	</form>
 </div>
 <div th:replace="fragments/footer :: footer"></div>
    </div>
    </div>
 
    </body>
</html>