<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">test</h1>
        <p class="lead">Utiliser le formulaire suivant afin {{ vehicule.id == 0 ? "d'ajouter" : "de modifier" }} un vehicule
        </p>
        {{ vehicule.id == 0 ? "Ajout" : "Modification" }} d'un véhicule
    </div>
</div>

<div class="container">
    <form #vehiculeForm="ngForm" (ngSubmit)="addVehicule()"> <!-- Gérer ici l'appel à la méthode addTodo() à la soumission du formulaire -->
        <input type="hidden" name="idInput" id="idInput" [(ngModel)]="vehicule.id"> 
        <div class="form-group">
            <label for="labelInput">Label</label>

            <div class="form-group">
            <input type="text" class="form-control" name="labelInput" id="labelInput"
                placeholder="Entrer une marque" required #label="ngModel" [(ngModel)]="vehicule.marque"> 
            <div *ngIf="label.dirty && label.hasError('required')" class="alert alert-danger mt-2" role="alert">
                <strong>Le label est obligatoire !</strong>
            </div> </div>
           

            <div class="form-group">
            <input type="text" class="form-control" name="labelInput" id="labelInput"
                placeholder="Entrer une modele" required #label="ngModel" [(ngModel)]="vehicule.modele"> 
            <div *ngIf="label.dirty && label.hasError('required')" class="alert alert-danger mt-2" role="alert">
                <strong>Le label est obligatoire !</strong>
            </div></div>

            <div class="form-group">
            <input type="text" class="form-control" name="labelInput" id="labelInput"
                placeholder="Entrer une quantite" required #label="ngModel" [(ngModel)]="vehicule.quantite"> 
            <div *ngIf="label.dirty && label.hasError('required')" class="alert alert-danger mt-2" role="alert">
                <strong>Le label est obligatoire !</strong>
            </div></div>

            <div class="form-group">
            <input type="text" class="form-control" name="labelInput" id="labelInput"
                placeholder="Entrer un prix hors taxe" required #label="ngModel" [(ngModel)]="vehicule.prixHT"> 
            <div *ngIf="label.dirty && label.hasError('required')" class="alert alert-danger mt-2" role="alert">
                <strong>Le label est obligatoire !</strong>
            </div></div>

            <div class="form-group">
            <input type="date" class="form-control" name="labelInput" id="labelInput"
                placeholder="Selectionner une date" required #label="ngModel" [(ngModel)]="vehicule.datecreation"> 
            <div *ngIf="label.dirty && label.hasError('required')" class="alert alert-danger mt-2" role="alert">
                <strong>Le label est obligatoire !</strong>
            </div></div>
        

        </div>
        <button type="submit" class="btn btn-primary"
            [disabled]="vehiculeForm.invalid">{{ vehicule.id == 0 ? "Ajouter" : "Modifier" }}</button>
    </form>
</div>
