<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ vehicule.id == 0 ? "Ajout" : "Modification" }} d'un véhicule</h1>
        <p class="lead">Utiliser le formulaire suivant afin {{ vehicule.id == 0 ? "d'ajouter" : "de modifier" }} un vehicule
        </p>
    </div>
</div>

<div class="container">
    <form #vehiculeForm="ngForm" (ngSubmit)="addVehicule()"> 
        <input type="hidden" name="idInput" id="idInput" [(ngModel)]="vehicule.id"> 
        <!-- <div class="form-group"> -->
            

            <div class="form-group">
            <label for="marqueInput">Marque</label>
            <input type="text" class="form-control" name="marqueInput" id="marqueInput" [class.is-invalid]="marqueInput.invalid && marqueInput.touched" [class.is-valid]="marqueInput.valid"
                placeholder="Entrer une marque" required #marqueInput="ngModel" [(ngModel)]="vehicule.marque"> 
                <div *ngIf="!marqueInput.valid && marqueInput.touched && marqueInput.errors.required" class="alert alert-danger">Le champs marque est obligatoire </div>
            </div>
           

            <div class="form-group">
            <label for="modeleInput">Modele</label>
            <input type="text" class="form-control" name="modeleInput" id="modeleInput" [class.is-invalid]="modeleInput.invalid && modeleInput.touched" [class.is-valid]="modeleInput.valid"
                placeholder="Entrer un modele" required #modeleInput="ngModel" [(ngModel)]="vehicule.modele"> 
                <div *ngIf="!modeleInput.valid && modeleInput.touched && modeleInput.errors.required" class="alert alert-danger">Le champs marque est obligatoire </div>
            </div>

            <div class="form-group">
                <label for="quantiteInput">Quantite</label>
            <input type="text" class="form-control" name="quantiteInput" id="quantiteInput" [class.is-invalid]="quantiteInput.invalid && quantiteInput.touched" [class.is-valid]="quantiteInput.valid"
                placeholder="Entrer une quantite" required #quantiteInput="ngModel" [(ngModel)]="vehicule.quantite" pattern="^[0-9]+$"> 
                <div *ngIf="!quantiteInput.valid && quantiteInput.touched && quantiteInput.errors.required" class="alert alert-danger">Le champs quantité est obligatoire </div>
                <div *ngIf="!quantiteInput.valid && quantiteInput.touched && quantiteInput.errors.pattern" class="alert alert-danger">Le champs quantité doit être un nombre</div>
            </div>

            <div class="form-group">
                <label for="prixHTInput">Prix</label>
            <input type="text" class="form-control" name="prixHTInput" id="prixHTInput" [class.is-invalid]="prixHTInput.invalid && prixHTInput.touched" [class.is-valid]="prixHTInput.valid"
                placeholder="Entrer un prix" required #prixHTInput="ngModel" [(ngModel)]="vehicule.prixht" pattern="^[0-9]+$"> 
                <div *ngIf="!prixHTInput.valid && prixHTInput.touched && prixHTInput.errors.required" class="alert alert-danger">Le champs prix est obligatoire </div>
                <div *ngIf="!prixHTInput.valid && prixHTInput.touched && prixHTInput.errors.pattern" class="alert alert-danger">Le champs prix doit être un nombre</div>
            </div>

            <div class="form-group">
                <label for="datecreationInput">Date</label>
            <input type="text" class="form-control" name="datecreationInput" id="datecreationInput" [class.is-invalid]="dateInput.invalid && dateInput.touched" [class.is-valid]="dateInput.valid"
                placeholder="Selectionner une date" required #dateInput="ngModel" [ngModel]="vehicule.datecreation | date:'yyyy-MM-dd'" (ngModelChange)="vehicule.datecreation = $event" pattern="\d{4}-\d{2}-\d{2}"> 
                <div *ngIf="!dateInput.valid && dateInput.touched && dateInput.errors.required" class="alert alert-danger">Le champs date de création est obligatoire </div>
                <div *ngIf="!dateInput.valid && dateInput.touched && dateInput.errors.pattern" class="alert alert-danger">Le champs date de création doit être au format YYYY-MM-DD</div>
        

        </div>
        <button type="submit" class="btn btn-primary"
            [disabled]="vehiculeForm.invalid">{{ vehicule.id == 0 ? "Ajouter" : "Modifier" }}</button>
    </form>
</div>
