<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ tache.id == 0 ? "Ajout" : "Modification" }} d'une tache</h1>
        <p class="lead">Utiliser le formulaire suivant afin {{ tache.id == 0 ? "d'ajouter" : "de modifier" }} une piece
        </p>
    </div>
</div>

<div class="container">
     <form #tacheForm="ngForm" (ngSubmit)="addTache()">
        <input type="hidden" name="idInput" id="idInput" [(ngModel)]="tache.id"> 
        <div class="form-group">
            <label for="tacheInput">Etat tâche</label>
            <input type="text" class="form-control" name="tacheInput" id="tacheInput" [class.is-invalid]="etatInput.invalid && etatInput.touched" [class.is-valid]="etatInput.valid"
                placeholder="Etat de la tâche" required #etatInput="ngModel" [(ngModel)]="tache.etattache"> 
                <div *ngIf="!etatInput.valid && etatInput.touched && etatInput.errors.required" class="alert alert-danger">Ce champs est obligatoire </div>
        </div>

        <button  type="submit" class="btn btn-primary"
            [disabled]="tacheForm.invalid">{{ tache.id == 0 ? "Ajouter" : "Modifier" }}</button>
    </form>
</div>
