
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Liste des facture de devis</h1>
        <p class="lead">Consulter la liste des factures de devis</p>
    </div>
</div>

<table class="table table-striped">
    <thead class="">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Id de Devis</th>
            <th scope="col">Prix HT</th>
            <th scope="col">Taux TVA</th>
            <th scope="col">Date de Création</th>

        </tr>
    </thead>
    <tr *ngFor="let facture of FactureDev">

    <!-- <tbody *ngIf="FactureDev.length > 0; else elseBlock"> -->
      <!-- Faire en sorte qu'il y ait autant de ligne que de tâche -->
      <th scope="row">   {{facture.id}}<!-- Afficher ici l'id de la tâche --></th>
            <th scope="row">   {{facture.devis.id}}<!-- Afficher ici l'id de la tâche --></th>
            <td>
            {{facture.prixht}}

                <!-- Afficher ici le label de la tâche --></td>
            <td>
                {{facture.tauxtva}}

                <!-- Gérer l'événement clic sur ce bouton afin de rediriger vers l'édition -->
                <!-- Gérer l'événement clic sur ce bouton afin de supprimer la tâche -->
            </td>
            <td>
                {{facture.datecreation}}
    
                    <!-- Afficher ici le label de la tâche --></td>
       
   <!--</tbody>-->
    </tr>
    <ng-template #elseBlock>
        <tbody>
            <tr>
                <td colspan="3" class="text-center">Aucune tâche pour le moment...</td>
            </tr>
        </tbody>
    </ng-template>
</table>
